[parity]
chain = "/shared/config/__PLATFORM__.json"
base_path = "/data/parity"

[network]
min_peers = 1
nat = "extip:__EXTIP__"

[account]
unlock = ["__UNLOCKED_ACCOUNT__"]
password = ["/shared/secret/node.pwds"]

[mining]
engine_signer = "__SIGNER__"
reseal_on_txs = "none"

[rpc]
interface = "all"
hosts = ["all"]
